.benefits {
  &__center-box {
    max-width: 1230px;
    margin: 0 auto;
    padding: 55px 15px 15px;
    background-image: url("../img/benefits-img.png");
    background-repeat: no-repeat;
    background-position: 10px 85px;
    outline: 1px solid red;
  }
  &__content {
    max-width: 785px;
    margin-left: auto;
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #21062a;
    padding-left: 185px;
    margin-bottom: 45px;
    span {
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: #21062a;
        top: 22px;
        right: -98px;
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-left: 185px;
    padding-bottom: 20px;
    list-style: none;
    color: #c4c4c4;
    background-color: #21062a;
  }
  &__item {
    max-width: 320px;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
  }
  &__item-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    & span {
      display: block;
      font-size: 36px;
      line-height: 50px;
      margin-bottom: -8px;
      text-transform: uppercase;
    }
  }
  &__item-text {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1160px) {
  .benefits__content {
    margin-left: 350px;
  }
}

@media (max-width: 950px) {
  .benefits__title {
    padding-left: 70px;
  }
  .benefits__list {
    padding-left: 70px;
  }
}

@media (max-width: 850px) {
  .benefits__center-box {
    padding-top: 15px;
    background-image: none;
  }
  .benefits__content {
    width: 100%;
    margin-left: 0;
  }
  .benefits__title {
    padding-left: 20px;
  }
  .benefits__list {
    padding-left: 20px;
  }
  .benefits__item {
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .benefits__title {
    & span::before {
      display: none;
    }
  }
}
