@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #2c2b2b; }

.main-header {
  color: #fff;
  background: url("../img/header-bg.jpg") center center/cover no-repeat;
  background-color: #21062a;
  min-height: 700px; }
  .main-header__center-box {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px; }
  .main-header__top {
    padding: 47px 0px 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 55px; }
  .main-header__tel {
    color: #fff;
    text-decoration: none; }
  .main-header__content {
    position: relative;
    padding-bottom: 119px; }
  .main-header__title {
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: -10px; }
  .main-header__subtitle {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
    padding: 0; }
  .main-header__text {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0; }
  .main-header__call {
    display: inline-block;
    padding: 14.5px 54.5px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #5a0d67;
    transition: all 0.4s; }
    .main-header__call:hover {
      color: #5a0d67;
      background-color: #ffffff; }
  .main-header__social-list {
    display: -ms-flexbox;
    display: flex;
    max-width: 125px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    list-style: none;
    margin: 70px 0 0 66px;
    padding: 0; }
  .main-header__social-link {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all 0.2s; }
    .main-header__social-link:hover {
      -webkit-transform: scale(110%);
              transform: scale(110%); }
  .main-header__social-link--ins {
    background-image: url("../icons/instagram.svg"); }
  .main-header__social-link--tel {
    background-image: url("../icons/telegram.svg"); }
  .main-header__social-link--wat {
    background-image: url("../icons/whatsapp.svg"); }
  .main-header__social-link--face {
    background-image: url("../icons/facebook.svg"); }
  .main-header__promo-img {
    position: absolute;
    right: 0;
    bottom: -200px; }

@media (max-width: 1024px) {
  .main-header__top {
    padding-bottom: 15px;
    margin-bottom: 20px; }
  .main-header__promo-img {
    width: 75%; } }

@media (max-width: 850px) {
  .main-header__top {
    padding-bottom: 10px;
    margin-bottom: 15px; }
  .main-header__tel {
    font-size: 28px;
    line-height: 38px; }
  .main-header__title {
    font-size: 56px;
    line-height: 82px; }
  .main-header__subtitle {
    font-size: 22px;
    line-height: 30px;
    padding-top: 10px; } }

@media (max-width: 650px) {
  .main-header__top {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 20px;
    margin-bottom: 25px; }
  .main-header__content {
    padding-bottom: 25px; }
  .main-header__title {
    font-size: 32px;
    line-height: 38px; }
  .main-header__subtitle {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px; }
  .main-header__promo-img {
    position: static;
    display: block;
    width: 100%;
    max-width: 300px;
    margin-top: 35px; } }

.services__center-box {
  max-width: 1230px;
  margin: 0 auto;
  padding: 269px 15px 15px; }

.services__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062a; }
  .services__title span {
    position: relative; }
    .services__title span::before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: #21062a;
      top: 22px;
      right: -98px; }

.services__content {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.services__QA {
  max-width: 505px;
  margin-right: 95px;
  color: #2c2b2b; }

.services__QA-item {
  margin-bottom: 70px; }
  .services__QA-item:last-child {
    margin-bottom: 0px; }

.services__question {
  margin: 20px 0 18px;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #5a0d67; }

.services__answer {
  margin: 0;
  margin-bottom: 10px; }

.services__list {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  margin: 0;
  padding: 17px 0;
  list-style: none;
  color: #2c2b2b;
  counter-reset: my-counter; }

.services__item {
  max-width: 500px;
  position: relative;
  margin: 0;
  margin-right: 50px;
  margin-bottom: 12px;
  padding: 10px 5px 8px 110px;
  border: 1px solid #c4c4c4;
  counter-increment: my-counter;
  transition: all 0.8s; }
  .services__item::before {
    content: "0" counter(my-counter);
    display: block;
    position: absolute;
    top: 9px;
    left: 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #c4c4c4;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .services__item:hover {
    border: 1px solid #5a0d67;
    box-shadow: 1px 1px;
    margin-right: 0; }
    .services__item:hover::before {
      color: #5a0d67; }
    .services__item:hover .services__item-point {
      color: #5a0d67; }

.services__item-point {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #2c2b2b; }

.services__item-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  color: #2c2b2b; }

.services__call {
  display: inline-block;
  position: relative;
  padding: 14.5px 54.5px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #5a0d67;
  transition: all 0.4s; }
  .services__call:hover {
    color: #5a0d67;
    background-color: #ffffff; }
  .services__call--decor::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #c4c4c4;
    top: 25px;
    right: -75px; }
  .services__call--decor::after {
    content: "жми";
    position: absolute;
    right: -110px;
    color: #c4c4c4; }

@media (max-width: 1120px) {
  .services__center-box {
    padding-top: 190px; }
  .services__QA {
    margin-right: 35px; }
  .services__item {
    margin-right: 0; } }

@media (max-width: 1120px) {
  .services__center-box {
    padding-top: 140px; }
  .services__content {
    -ms-flex-direction: column;
        flex-direction: column; }
  .services__list {
    -ms-flex-order: -1;
        order: -1; }
  .services__item {
    max-width: 100%; }
  .services__QA {
    max-width: 100%;
    margin-right: 0; } }

@media (max-width: 650px) {
  .services__center-box {
    padding-top: 30px; }
  .services__title {
    line-height: 38px; }
    .services__title span::before {
      display: none; }
  .services__QA-item {
    margin-bottom: 55px; } }

@media (max-width: 410px) {
  .services__call--decor {
    padding: 14.5px 44.5px; }
  .services__call--decor::before {
    width: 30px;
    right: -25px; }
  .services__call--decor::after {
    width: 30px;
    right: -55px; } }

.benefits__center-box {
  max-width: 1230px;
  margin: 0 auto;
  padding: 55px 15px 15px;
  background-image: url("../img/benefits-img.png");
  background-repeat: no-repeat;
  background-position: 10px 85px; }

.benefits__content {
  max-width: 785px;
  margin-left: auto; }

.benefits__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062a;
  padding-left: 185px;
  margin-bottom: 45px; }
  .benefits__title span {
    position: relative; }
    .benefits__title span::before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: #21062a;
      top: 22px;
      right: -98px; }

.benefits__list {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-left: 185px;
  padding-bottom: 20px;
  list-style: none;
  color: #c4c4c4;
  background-color: #21062a; }

.benefits__item {
  max-width: 320px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0; }

.benefits__item-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  padding: 0; }
  .benefits__item-title span {
    display: block;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: -8px;
    text-transform: uppercase; }

.benefits__item-text {
  margin: 0;
  padding: 0; }

@media (max-width: 1160px) {
  .benefits__content {
    margin-left: 350px; } }

@media (max-width: 950px) {
  .benefits__title {
    padding-left: 70px; }
  .benefits__list {
    padding-left: 70px; } }

@media (max-width: 850px) {
  .benefits__center-box {
    padding-top: 15px;
    background-image: none; }
  .benefits__content {
    width: 100%;
    margin-left: 0; }
  .benefits__title {
    padding-left: 20px; }
  .benefits__list {
    padding-left: 20px; }
  .benefits__item {
    max-width: 100%; } }

@media (max-width: 450px) {
  .benefits__title span::before {
    display: none; } }

.cars__center-box {
  max-width: 1230px;
  margin: 0 auto;
  padding: 55px 15px 15px; }

.cars__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062a;
  margin-bottom: 45px; }
  .cars__title span {
    position: relative; }
    .cars__title span::before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: #21062a;
      top: 22px;
      right: -98px; }

.cars__carousel {
  max-width: 100%;
  margin: 0;
  padding: 0; }

.cars__item-box {
  max-width: 390px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #c4c4c4;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #2c2b2b;
  transition: all 0.4s; }
  .cars__item-box:hover {
    background-color: #5a0d67;
    border-color: #5a0d67;
    color: #ffffff; }

.cars .slick-slider-one .slick-dots {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  margin-top: 30px;
  padding: 0; }

.cars .slick-slider-one .slick-dots button {
  font-size: 0;
  border: none;
  width: 50px;
  height: 2px;
  margin: 0 10px;
  background-color: #c4c4c4; }

.cars .slick-slider-one .slick-dots .slick-active button {
  background-color: #5a0d67; }

.cars__img {
  margin-bottom: 23px;
  max-width: 100%; }

.cars__model {
  margin: 0;
  margin-bottom: 8px;
  padding: 0; }

.cars__save {
  margin: 0;
  padding: 0; }

@media (max-width: 1199px) {
  .cars__carousel {
    max-width: 850px;
    margin: 0 auto; } }

@media (max-width: 850px) {
  .cars__center-box {
    padding-top: 20px; }
  .cars__title span {
    display: none; }
  .cars__carousel {
    max-width: 690px;
    margin: 0 auto; }
  .cars__item-box {
    max-width: 690px; }
  .cars__img {
    width: 95%;
    height: auto; }
  .cars .slick-slider-one .slick-dots button {
    width: 20px; } }

.contacts__center-box {
  max-width: 1230px;
  margin: 0 auto;
  padding: 80px 15px 0px;
  display: -ms-flexbox;
  display: flex; }

.contacts__date {
  -ms-flex: 0 3 600px;
      flex: 0 3 600px;
  padding-top: 20px; }

.contacts__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062a;
  margin-bottom: 51px; }
  .contacts__title span {
    position: relative; }
    .contacts__title span::before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 3px;
      background-color: #21062a;
      top: 22px;
      right: -98px; }

.contacts__title--white {
  text-align: center;
  padding-top: 50px;
  padding-right: 80px;
  margin: 0;
  margin-bottom: 18px;
  color: #ffffff; }
  .contacts__title--white span::before {
    background-color: #ffffff; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0; }

.contacts__item-title {
  margin: 0;
  padding: 0;
  color: #5a0d67; }

.contacts__item-text {
  margin: 0;
  padding: 0; }

.contacts__form {
  -ms-flex: 0 1 600px;
      flex: 0 1 600px;
  background-color: #21062a; }

.contacts__input {
  display: block;
  margin: 0 auto 15px;
  width: 95%;
  max-width: 450px;
  border: 1px solid #ffffff;
  background-color: #21062a;
  text-align: center;
  color: #c4c4c4;
  padding: 25px 15px; }
  .contacts__input::-webkit-input-placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4; }
  .contacts__input::-moz-placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4; }
  .contacts__input:-ms-input-placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4; }
  .contacts__input::-ms-input-placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4; }
  .contacts__input::placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4; }

.contacts__btn {
  display: block;
  width: 80%;
  max-width: 250px;
  margin: 80px auto 58px;
  padding: 13px 10px 15px;
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5a0d67;
  transition: all 0.4s; }
  .contacts__btn:hover {
    color: #5a0d67;
    background-color: #ffffff; }

@media (max-width: 850px) {
  .contacts__center-box {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 10px; }
  .contacts__date {
    -ms-flex-preferred-size: content;
        flex-basis: content; }
  .contacts__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__item {
    margin: 0 10px 25px; }
  .contacts__form {
    -ms-flex-preferred-size: content;
        flex-basis: content; } }

@media (max-width: 450px) {
  .contacts__date {
    padding-top: 0; }
  .contacts__title {
    margin: 10px; }
  .contacts__title span::before {
    display: none; }
  .contacts__form {
    padding-top: 20px; }
  .contacts__title--white {
    padding: 0;
    margin: 10px; }
  .contacts__btn {
    margin: 35px auto; } }

.main-footer {
  color: #fff;
  background-color: #21062a; }
  .main-footer__center-box {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .main-footer__social-list {
    display: -ms-flexbox;
    display: flex;
    max-width: 125px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    list-style: none;
    padding: 0; }
  .main-footer__social-item {
    margin: 0 2.5px; }
  .main-footer__social-link {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all 0.2s; }
    .main-footer__social-link:hover {
      -webkit-transform: scale(110%);
              transform: scale(110%); }
  .main-footer__social-link--ins {
    background-image: url("../icons/instagram.svg"); }
  .main-footer__social-link--tel {
    background-image: url("../icons/telegram.svg"); }
  .main-footer__social-link--wat {
    background-image: url("../icons/whatsapp.svg"); }
  .main-footer__social-link--face {
    background-image: url("../icons/facebook.svg"); }
  .main-footer__copy {
    color: #ffffff;
    text-decoration: none; }

@media (max-width: 600px) {
  .main-footer__center-box {
    -ms-flex-direction: column;
        flex-direction: column; } }
